.buttonRight {
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

table {
    width: 90%;
    margin-left: 7%;
    margin-top: 7%;
}

.width60 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.centered {
    margin-left: 50%;
    margin-top: 3%
}

.category-table-div {
    margin-left: 7%;
    margin-right: 7%;
}

th {
    font-size: 18px;
    color: black;
}