<div class="form-wrapper">
  <mat-card class="box" id="edit-profile-box">
    <form class="form"  [formGroup]="editForm" (ngSubmit)="editForm.valid && editUserProfile()" novalid >
      <mat-card-content>
            <mat-form-field class="field-full-width">
              <input id="firstName"
              matInput
              formControlName="firstName"
              placeholder="First Name"/>
              <mat-error >First Name is required and can contain only letters.</mat-error>
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input id="lastName"
              matInput
              formControlName="lastName"
              placeholder="Last Name"/>
              <mat-icon matSuffix>mode_edit</mat-icon>
              <mat-error >Last Name is required and can contain only letters.</mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input id="email"
                    matInput
                    formControlName="email"
                    placeholder="Email"/>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error >Email is required.</mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input id="phone"
                    matInput
                    formControlName="phone"
                    placeholder="Phone"/>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error >Phone is required.</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="role === 'REGISTERED'" class="field-full-width">
              <input id="paypal"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)] = 'user.paypal'
                    placeholder="Paypal"/>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                    <mat-error >Paypal is required.</mat-error>
            </mat-form-field>
         
            <mat-form-field  class="field-full-width">
              <input id="password"
                  matInput
                  formControlName="currentPassword"
                  placeholder="Current password" 
                  [type]="hide ? 'password':'text'" />
                  <mat-error >Current password is required for changing profile information.</mat-error>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input id="newPassword"
                  matInput
                  formControlName="newPassword"
                  placeholder="New Password" 
                  [type]="hide ? 'password':'text'" />
                  <mat-error >Password: min 4 characters</mat-error>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
            </mat-form-field>
            <mat-form-field class="field-full-width">
              <input id="repeatedPassword"
                  matInput
                  formControlName="repeatedPassword"
                  type="password"
                  placeholder="Repeated password"/>
            </mat-form-field>
      </mat-card-content>
      <button id="editProfileBtn" mat-stroked-button color= "primary"  class="btn-block">Save</button>
    </form>
  </mat-card>

</div>
