<div>
    <mat-card class="box">
        <mat-card-header>
            <h2 *ngIf="operation === 'create'">New Section</h2>
            <h2 *ngIf="operation === 'update'">Update Section</h2>
        </mat-card-header>
        <form [formGroup]="sectionForm" noval>
            <div class="form-container">
                <mat-form-field>
                    <input id="name" matInput formControlName="name" placeholder="Name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-select name="" id="isNum" [(value)]="numerated" formControlName="numerated">
                        <mat-option value="true">Numerated</mat-option>
                        <mat-option value="false">Not numerated</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="numeratedSelected()">
                    <input id="rows" matInput formControlName="rows" placeholder="Rows" />
                </mat-form-field>
                <mat-form-field *ngIf="numeratedSelected()">
                    <input id="columns" matInput formControlName="columns" 
                        placeholder="Columns" />
                </mat-form-field>
                <mat-form-field *ngIf="!numeratedSelected()">
                    <input id="seats" matInput formControlName="seats"
                        placeholder="Seats" />
                </mat-form-field>
            </div>
            <button id="createBt" *ngIf="operation === 'create'" (click)="onSectionSubmit()" type="submit" mat-stroked-button color="primary">Create</button>
            <button id="updateBt" *ngIf="operation === 'update'" (click)="onSectionUpdate()" type="submit" mat-stroked-button color="primary">Update</button>
            <button (click)="cancel()" mat-stroked-button color="primary">Cancel</button>
        </form>
    </mat-card>
</div>