<div>
    <mat-card class="box">
        <mat-card-header>
            <h2 *ngIf="operation==='create'">New Location</h2>
            <h2 *ngIf="operation==='update'">Update</h2>
        </mat-card-header>
        <form class="form" [formGroup]="locationForm" noval>
            <div class="form-container">
                <mat-form-field>
                    <input id="name" matInput formControlName="name" [(ngModel)]="locationData.name"
                        placeholder="Name" />
                </mat-form-field>
                <mat-form-field>
                    <input id="city" matInput formControlName="city" [(ngModel)]="locationData.city"
                        placeholder="City" />
                </mat-form-field>
                <mat-form-field>
                    <input id="address" matInput formControlName="address" [(ngModel)]="locationData.address"
                        placeholder="Address" />
                </mat-form-field>
                <mat-form-field>
                    <input id="longitude" matInput formControlName="longitude" [(ngModel)]="locationData.longitude"
                        placeholder="Longitude" />
                </mat-form-field>
                <mat-form-field>
                    <input id="latitude" matInput formControlName="latitude" [(ngModel)]="locationData.latitude"
                        placeholder="Latitude" />
                </mat-form-field>
                <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" name="file"
                    accept=".jpg,.png,.jpeg">
                <button class="margin5" mat-raised-button (click)="openInput()">Select File to Upload</button>
            </div>
            <button mat-stroked-button color="primary" *ngIf="operation==='update'" id="updateBt" (click)="onLocationUpdate()">Update</button>
            <button mat-stroked-button color="primary" *ngIf="operation==='create'" id="createButton" (click)="onLocationSubmit()">Create</button>
            <button mat-stroked-button color="primary" (click)="cancel()">Cancel</button>
        </form>

    </mat-card>
    
</div>