<app-navbar [loggedIn]='false'></app-navbar>

<div class="event-wrapper" *ngIf="event">
    <mat-card class="ticketCard" *ngIf="!ticketComponent">
        <mat-card-header>
            <mat-card-title>{{event.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
            <div *ngFor="let c of event.categories">
                <hr [ngStyle]="{ 'height' : '1px', 'border-top' : '10px solid', 'border-color' : c.color }" />
            </div>
            <table class="center">
                <tr>
                    <td style="text-align: left;">
                        <table class="inner">
                            <tr>
                                <td>Location: </td>
                                <div class="show-map" (click)="showOnMap(event.locationName)"><i class="fa fa-map-marker " aria-hidden="true"></i> {{event.locationName}} </div>
                            </tr>
                            <tr>
                                <td>Hall: </td>
                                <td>{{event.hallName}}</td>
                            </tr>
                            <tr>
                                <td>Sections: </td>
                                <td></td>
                            </tr>
                            <div *ngFor="let s of eventSections">
                                <tr>
                                    <td>{{s.name}} :</td>
                                    <td>
                                        <table>
                                            <tr *ngIf="s.numerated">
                                                <td>Rows: </td>
                                                <td>{{s.rows}}</td>
                                            </tr>
                                            <tr *ngIf="s.numerated">
                                                <td>Columns: </td>
                                                <td>{{s.columns}}</td>
                                            </tr>
                                            <tr *ngIf="!s.numerated">
                                                <td>Seats: </td>
                                                <td>{{s.numberOfSeats}}</td>
                                            </tr>
                                            <tr>
                                                <td>Price: </td>
                                                <td>{{s.price}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </div>
                            <tr>
                                <td>Dates: </td>
                                <td></td>
                            </tr>
                            <div *ngFor="let d of event.date">
                                <tr>
                                    <td>{{d | date:'medium'}}</td>
                                </tr>
                            </div>
                            <br />
                            <tr>
                                <td>Categories: </td>
                                <td></td>
                            </tr>
                            <div *ngFor="let c of event.categories">
                                <tr>
                                    <td>{{c.name}}</td>
                                </tr>
                            </div>
                            <br />
                            <tr>
                                <td>Sales Date: </td>
                                <td>{{event.salesDate | date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Last Day To Pay: </td>
                                <td>{{event.lastDayToPay}}</td>
                            </tr>
                            <tr>
                                <td>Control Access: </td>
                                <td>{{event.controllAccess}}</td>
                            </tr>
                            <tr>
                                <td> Status: </td>
                                <td *ngIf="event.status === 0"> Available </td>
                                <td *ngIf="event.status === 1"> Blocked </td>
                                <td *ngIf="event.status === 2"> Sold </td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <app-image-slider [imagePaths]="event.attachments" [firstImage]="event.background"></app-image-slider>
                    </td>
            </table>
            <p>Description: <br/></p>
            <p>{{event.description}}</p>
        </mat-card-content>
        <mat-card-actions *ngIf="role === 'ADMIN'">
            <button mat-stroked-button color="accent" (click) = "update(event.id)">Edit</button>
            <button mat-stroked-button color="accent" (click)="block(event)">Block</button>
            <button mat-stroked-button color="accent" (click)="getBack()">Back</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="role === 'REGISTERED'">
            <button mat-stroked-button color="accent" (click)="chooseSeat()">Buy/Reserve</button>
            <button mat-stroked-button color="accent" (click)="getBack()">Back</button>
        </mat-card-actions>
    </mat-card>

    <div *ngIf="ticketComponent">
        <app-buy-ticket [event]="event" [eventSections]="eventSections" (closeComponent)="recieveCloseComponent()"></app-buy-ticket>
    </div>
</div>