<app-navbar loggedIn="False"></app-navbar>
<div class="form-wrapper" >
  <mat-card class="box" id="register-box" *ngIf="registerBtn === false">
    <mat-card-header>
      <mat-icon class="account-icon">account_circle</mat-icon>
    </mat-card-header>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" noval>
      <mat-card-content>
        <mat-form-field class="field-full-width">
          <input id="username"
            matInput
            formControlName="username"
            placeholder="Username" />
            <mat-error >Username: min 4 characters </mat-error>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input id="password"
              matInput
              formControlName="password"
              placeholder="Password" 
              [type]="hide ? 'password':'text'" />
              <mat-error >Password: min 4 characters</mat-error>
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="repeatedPassword"
              matInput
              formControlName="repeatedPassword"
              type="password"
              placeholder="Repeated password"/>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="firstName"
          matInput
          formControlName="firstName"
          placeholder="First Name"/>
          <mat-error >First Name can contain only letters.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="lastName"
          matInput
          formControlName="lastName"
          placeholder="Last Name"/>
          <mat-error >Last Name can contain only letters.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="email"
                matInput
                formControlName="email"
                placeholder="Email"/>
                <mat-error >Email is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="phone"
                matInput
                formControlName="phone"
                placeholder="Phone"/>
                <mat-error >Phone is required.</mat-error>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input id="paypal"
                matInput
                formControlName="paypal"
                placeholder="Paypal"/>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color= "primary" id="registerButton" class="btn-block">Register</button>
    </form>
  </mat-card>
  <mat-card class="box" *ngIf="registerBtn === true">
    <div id="registerMessage">Successful registration. You will soon recieve email for confirmation your account.</div>
  </mat-card>
</div>
