<div class="form-wrapper" id="add-category-form">
    <mat-card class="box">
        <mat-card-header>
            <h2 align="center" *ngIf="operation === 'add'">New Category</h2>
            <h2 align="center" *ngIf="operation === 'update'">Update Category</h2>
        </mat-card-header>
        <form [formGroup]="addCategoryForm" noval align="center">
            <table align="center">
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput id="name" formControlName="name" placeholder="Name" />
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field>
                            <input matInput id="color" type="color" value="#ff0000" formControlName="color" placeholder="Color" />
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input hidden formControlName="icon" id="fileInput" type="file" name="file" (change)="fileChange($event.target.files)" accept=".jpg,.png,.jpeg">

                        <button class="margin5" mat-raised-button (click)="openInput()">Select Icon</button>

                    </td>
                    <td>
                        <img [src]="getImage()" alt="" width="50" height="40">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="add-category-btn" *ngIf="operation === 'add'" (click)="addCategory()" class="form-btn" type="submit" mat-stroked-button color="primary">Add</button>
                        <button id="update-category-btn" *ngIf="operation === 'update'" (click)="updateCategory()" class="form-btn" type="submit" mat-stroked-button color="primary">Update</button>
                        <button id="cancel-category-btn" (click)="cancel()" class="form-btn" mat-stroked-button color="primary">Cancel</button>
                    </td>
                </tr>
            </table>
        </form>

    </mat-card>
</div>