<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

        <li *ngFor="let number of numbers" data-target="#carouselExampleIndicators" data-slide-to="number"></li>

    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" [src]="getImage(firstImage)" alt="First slide">
        </div>

        <div class="carousel-item" *ngFor="let image of imagePaths">
            <video *ngIf="image.endsWith('mp4')" width="400" height="400" controls>
                        <source [src]="getImage(image)" type="video/mp4" />
            </video>
            <video *ngIf="image.endsWith('ogg')" width="400" height="400" controls>
                    <source [src]="getImage(image)" type="video/ogg" />
            </video>
            <video *ngIf="image.endsWith('webm')" width="400" height="400" controls>
                    <source [src]="getImage(image)" type="video/webm" />
            </video>
            <img *ngIf="!image.endsWith('mp4') && !image.endsWith('ogg') && !image.endsWith('webm')" class="d-block w-100" [src]="getImage(image)" witht="400px" height="400px" align="center">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>