.categories-toolbar {
    background: #F8EAAC;
    align-items: center;
}

.cat-wrapper {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}