<div class="applications-wrapper">
    <table id="applications" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <ng-container matColumnDef="eventName">
          <th mat-header-cell *matHeaderCellDef> Event </th>
          <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="downInterval">
          <th mat-header-cell *matHeaderCellDef> Start </th>
          <td mat-cell *matCellDef="let element">  {{ transformDate(element.downInterval) | date: 'medium' }} </td>
        </ng-container>

         <ng-container matColumnDef="upInterval">
            <th mat-header-cell *matHeaderCellDef> End </th>
            <td mat-cell *matCellDef="let element"> {{ transformDate(element.upInterval) | date: 'medium' }} </td>
          </ng-container>

          <ng-container matColumnDef="queueNumber">
            <th mat-header-cell *matHeaderCellDef> Queue Number </th>
            <td mat-cell *matCellDef="let element"> {{element.queueNumber}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>