.report-box {
    top: 10px;
    left: 20%;
    width: 60%;
    opacity: 1;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
}

table {
    position: relative;
    width: 90%;
    top: 5%;
    max-width: none;
}

.medium-form-filed {
    width: 80%;
    margin-left: 2%;
}

.report-type-group {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 5%;
}

.report-type-radio-button {
    margin-left: 10px;
}