<div>
    <mat-card class="box">
        <h2>Hall Info</h2>
        <ul>
            <li>Name: <span id="hallName">{{hall.name}}</span></li>
        </ul>
        <button mat-stroked-button color="primary" (click)="back()" class="marginSmall">Back</button>
        <button id="updateHall" mat-stroked-button color="primary" (click)="updateHall()">Update</button>
    </mat-card>
    <div class="sections">
        <div class="sectionsHeader">
            <h3>Sections</h3>
            <button id="createSection" class="marginSmall" mat-stroked-button color="primary" (click)="createSection()">Create section</button>
            <button mat-stroked-button color="primary" (click)="save()">Save</button>
        </div>
        <div>
            <div class="left">
                <canvas canvas-directive id="can" class="canvas">
                </canvas>
            </div>
            <div class="secInfo" *ngIf="selectedSection">
                <mat-card class="box2">
                    <h4>{{selectedSection.name}}</h4>
                    <button (click)="viewSection()" mat-stroked-button color="primary"
                        class="btn-block">Details</button>
                </mat-card>
            </div>
        </div>


    </div>
</div>